

<link rel="stylesheet" type="text/css" href="../stylesheets/style1.css">
<center>
<form action="/auth/forget" method="POST">
<div class="form-group">
  
 <h2><label for="email">Email:</label> </h2>
    
    <input type="text" class="form-control1" name="email" id="email">
  </div>
  <button class="button button4" style="margin-left :50%">getlink</button>
</form>

</div>
</center>
