<link rel="stylesheet" type="text/css" href="../stylesheets/style1.css"></link>
{{> messages }}
<div class="container">
<form action="{{link}}" method="POST">
 <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" id="password">
 </div>
  <button class="">Save Password</button>

</form>

</div>